/* Общие стили */
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);
@import "color.css";
@import "post-style.css";
@import "syntax.css";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'PT Serif', Arial, serif;
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

h5 {
    font-size: 14px;
    margin-top: 2em;
    margin-bottom: .5em;
}

ul {
    margin-top: 0;
}

p {
    margin: 1em 0;
}

input {
    width: 100%;
    padding: 6px;
    color: #34495e !important;
    border: 2px solid #bdc3c7;
    border-radius: 6px;
}

input:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

sup {
    font-size: 10px;
    padding: 0 .5em;
    text-transform: lowercase;
}

pre {
    padding: 20px;
    margin: 0 0 1em 0;
    border-radius: 3px;
    background-color: #ECF0F1;
}

blockquote {
    padding: 0 0 0 30px;
    margin: 10px 0 30px 0;
    font-size: 18px;
    box-sizing: border-box;
}

table {
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

table thead tr {
    text-align: left;
}

table tr > th {
    padding: 8px;
    vertical-align: bottom;
}

table tr > td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #DDD;
}

/* Повторно используемые */

.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    box-sizing: border-box;
}

article {
    position: relative;
    margin-bottom: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FFF;
}

article > a img {
    opacity: 1;
}

article > a img:hover {
    opacity: 0.8;
}

article .content {
    position: relative;
    padding: 40px 80px;
}

article .date {
    position: absolute;
    left: 0;
    font-size: .7em;
    margin-top: 2em;
    padding: 10px 8px;
}

article .why {
    padding: 1em;
}
article ol li img{
    margin: 1em 0;
}
.note {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 1em;
}

/* Комментарии на странице записи*/

.comments {
    min-height: 300px;
    padding: 20px 80px;
}

/* Шапка */

header {
    overflow: hidden;
    margin-top: 1em;
}

.logo {
    float: left;
}

.logo .name {
    margin: 0;
}

.navigation {
    float: right;
    overflow: hidden;
    line-height: 50px;
}

.navigation ul {
    overflow: hidden;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 0;
}

.navigation ul li {
    list-style: none;
    float: left;
    padding-right: 1em;
}

.navigation ul li a{
    text-decoration: none;
}
.navigation ul li:last-child {
    padding-right: 0;
}
.navigation .rss{
    padding: 0.2em 0.5em;
    border-radius: 5px;
}
/* Заголовок записи */

.post-title {
    margin: 0.6em 0;
}

.post-title a {
    color: #000;
    text-decoration: none;
}

.post-title a:hover {
    border-bottom: 3px solid #000;
}

/* Кнопки социальных сетей */

#social {
    padding: 20px 80px;
}

#social .social-btn {
    display: inline-block;
    margin-right: 1em;
}

/* Теги на странице архива */
.tags .item-list li {
    list-style: none;
    display: inline;
    padding: 0 2px 2px 0;
    margin: 0 2px 2px 0;
}

.tags .item-list a {
    text-decoration: none;
    color: #b2b2b2;
}

.tags .item-list a:hover {
    color: rgb(85, 26, 139);
    text-decoration: underline;
}

/* Список на странице архива */

.item-list {
    padding-left: 0;
}

.item-list li {
    list-style-type: lower-greek;
    margin-left: 1em;
}

/* Футер. Копирайт. */
.footer-nav-lev {
    font-size: 11px;
    text-align: center;
    margin-bottom: 6px;
}

.footer-nav-lev a {
    text-decoration: none;
    margin-right: 10px;
    padding-right: 10px;
}

.footer-nav-lev a:last-child {
    border: 0;
}

.footer-nav-lev.me {
    text-transform: uppercase;
}

.footer-nav-lev.copy {
    margin-top: 2em;
    margin-bottom: 1em;
}

.footer-nav-lev.copy a {
    border: 0;
    margin: 0;
    padding: 0;
}
