---
layout: default
title: Александр Бизиков
excerpt: Меня зовут Александр Бизиков, я интересуюсь версткой и дизайном.
keywords: Bizikov, Бизиков, Верстальщик, Разработчик, блог Бизикова
---

{% include index-header.html %}

<div class="index-container container">
    <ul class="post-main">{% for post in site.posts limit: 5 %}
        <li class="post-main-item">
            {% include post-special.html %}
        </li>{% endfor %}
        <li class="post-main-more"><a class="btn large blue" href="{{ site.links[1].url | prepend: site.url }}">Eщё</a></li>
    </ul>
</div>