---
layout: default
title: Блог Александра Бизикова
excerpt: "Привет, меня зовут Александр Бизиков. Я знаю HTML, CSS, JavaScript. Верстаю сайты, делаю темы для Wordpress. Люблю фотографировать, работаю веб-разработчиком в i-Sys."
keywords: Bizikov, Бизиков, Верстальщик, Разработчик, блог Бизикова, подкасты, видео, верстка, разработка
---

{% include index-header.html %}

<div class="index-container container">
    <ul class="post-main">{% for post in site.posts limit: 5 %}
        <li class="post-main-item">
            {% include post-special.html %}
        </li>{% endfor %}
        <li class="post-main-more"><a class="btn large blue" href="{{ site.header_menu[1].url | prepend: site.url }}">Eщё</a></li>
    </ul>
</div>

<div class="subscribe">
    <div class="container">
        <div class="cell-1-2">
            <div class="module">
                <h1 class="post-title">Магия чисел Фибоначчи</h1>
                <p>Озвучил видео с выступлением Артура Бенджамина на TEDGlobal 2013 про великолепные числа Фибоначчи.</p>
                <script src="https://apis.google.com/js/platform.js"></script>
                <div class="g-ytsubscribe" data-channel="Bizikov" data-layout="default" data-count="default"></div>
            </div>
        </div>
        <div class="cell-1-2">
            <div class="module">
                <iframe width="100%" height="259" src="//www.youtube.com/embed/50kPD_iy8xU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
