/* VAR */
@width: 960px;
@font-size: 19px;

@alpha: #ECF0F1;
@beta: #333;
@gamma: #1D62F0;
@delta: #FC6341;
@epsilon: #F7F7F7;
@zeta: #FF0;

// MIXIN
.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.border-radius(@r: 3px) {
  -webkit-border-radius: @r;
  -moz-border-radius: @r;
  border-radius: @r;
}

.transition(@property: all, @duration: 0.3s, @function: linear) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.box-shadow(@x: 0, @y: 0, @blur: 10px, @color: #666) {
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}

.mask {
  mask: url('../svg/mask.svg') top left;
  -o-mask: url('../svg/mask.svg') top left;
  -ms-mask: url('../svg/mask.svg') top left;
  -webkit-mask: url('../svg/mask.svg') top left;
  -o-mask-size: cover;
  -ms-mask-size: cover;
  -webkit-mask-size: cover;
}


@import 'grid';
@import 'main';
@import 'folium';
@import 'thank';
