<footer>
    <p class="copy">&copy; 2009 — 2014.</p>
    <!-- Подтверждение авторства для гугл плюса -->
    <a href="{{ site.social.google }}" rel="publisher" style="display: none"></a>
    <!-- begin of Top100 code -->
    <div class="rambler">
        <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3046766"></script>
        <noscript><a href="http://top100.rambler.ru/navi/3046766/"><img src="http://counter.rambler.ru/top100.cnt?3046766" alt="Rambler's Top100" border="0" /></a></noscript>
    </div>
    <!-- end of Top100 code -->
    <!-- Rating@Mail.ru counter -->
    <noscript><div style="position:absolute;left:-10000px;"><img src="//top-fwz1.mail.ru/counter?id=2235396;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" /></div></noscript>
    <!-- Rating@Mail.ru counter -->
</footer>

<script type="text/javascript" src="{{ site.url }}/assets/js/folium.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/script.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/metrika.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/mailru.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/ga.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/social.js"></script>
</body>
</html>