<footer>
    <div class="footer-copy">
        <p class="copy">&copy; 2009 — 2014, Александр Бизиков.</p>
    </div>
    <!-- Подтверждение авторства для гугл плюса -->
    <a href="{{ site.social.google }}" rel="publisher" style="display: none"></a>
</footer>
<script type="text/javascript" src="{{ site.url }}/assets/js/folium.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/thank.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/metrika.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/ga.js"></script>
{% if page.script %}<script type="text/javascript" src="{{ page.script }}"></script>{% endif %}</body>
</html>