<!DOCTYPE html>
<html>
<head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="Author" lang="ru" content="{{ site.name }}">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <meta name="Keywords" lang="ru" content="{{ page.keywords }}">
    <meta name="Description" content="{{ page.excerpt }}">
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url}}"/>
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ site.url }}/feed/">
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
    {% include pagination-link.html %}
    <script type="text/javascript" src="{{ site.url }}/javascript/script.js"></script>
    {% if page.layout == "post" %}
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="{{ site.url }}/javascript/tweet.js"></script>
    {% endif %}
</head>
<body>
<div class="wrapper">
    <header>
        <div class="logo">
            <h1 class="name">{% if page.url == "/index.html" %}{{ site.name }}{% else %}<a href="{{ site.url }}">{{ site.name }}</a>{% endif %}</h1>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="{{ site.url }}/work">Работы</a></li>
                <li><a href="{{ site.url }}/about">Обо мне</a></li>
                <li><a href="{{ site.url }}/archive">Архив</a></li>
                <li><a href="{{ site.url }}/feed" class="rss">РСС</a></li>
            </ul>
        </nav>
    </header>
</div>
