<header>
    <div class="container about">
        <div class="cell-1-4">
            <div class="module about-me">
                <a href="{{ site.url }}" title="{{ site.title }}">
                    <img class="about-me" src="{{ site.avatar | prepend: site.url }}" alt="{{ site.name }}"/>
                </a>
            </div>
        </div>
        <div class="cell-3-4">
            <div class="module">
                {% include nav.html %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</header>