<header class="index-header">
    <div class="container about">
        <div class="cell-1-3">
            <div class="module about-me">
                <a href="{{ site.url }}" title="{{ site.title }}">
                    <img class="about-me" src="{{ site.avatar | prepend: site.url }}" alt="{{ site.name }}"/>
                </a>
            </div>
        </div>
        <div class="cell-2-3">
            <div class="module about-description">
                <h1>Я есть @Bizi</h1>
                <p>Привет, меня зовут Александр Бизиков. Я знаю HTML, CSS, JavaScript. Верстаю сайты, делаю темы для Wordpress. Люблю фотографировать, работаю веб-разработчиком в <a href="http://i-sys.ru" target="_blank">i-Sys</a>.</p>
                {% include nav.html %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</header>