<header class="post-header">
    <div class="container about">
        <div class="cell-1-4">
            <div class="module about-me">
                <a href="{{ site.url }}" title="{{ site.title }}">
                    <img class="about-me" src="{{site.url}}/upload/page/home/me.jpg" alt=""/>
                </a>
            </div>
        </div>
        <div class="cell-3-4">
            <div class="module">
                {% include nav.html %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</header>