<div id="social">
    <div class="facebook">
        <div id="fb-root"></div>
        <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
    <div class="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="Bizi" data-lang="ru">Tweet</a>
    </div>
    <div class="pocket">
        <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
        <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
    </div>
    <div class="vk">
        <script type="text/javascript">
            VK.init({apiId: 2126013, onlyWidgets: true});
        </script>

        <div id="vk_like"></div>
        <script type="text/javascript">
            VK.Widgets.Like("vk_like", {type: "full"});
        </script>
    </div>
</div>
