<div class="top widget">
    {% if page.url == "/index.html" %}
    <img class="avatar" title="{{ site.name }}" src="{{ site.url }}/images/bizikov.jpg" alt="{{ site.name }}"/>
    {% else %}
    <a href="{{ site.url }}" title="{{ site.name }}">
        <img class="avatar" title="{{ site.name }}" src="{{ site.url }}/images/bizikov.jpg" alt="{{ site.name }}"/>
    </a>
    {% endif %}
    <div class="about-me">
        <p>Здравствуйте! Меня зовут <b>Александр Бизиков</b>, я интересуюсь версткой и дизайном.</p>
    </div>
</div>

<a href="https://twitter.com/Bizi" class="twitter-follow-button" data-show-count="true">Фолловь @Bizi</a>

<h4>Страницы</h4>
<menu>
    <li><a href="{{ site.url }}/about">Обо мне</a></li>
    <li><a href="{{ site.url }}/archive">Все записи</a></li>
</menu>

<h4>Темы</h4>
<menu class="sidebar-menu">{% for tag in site.tags %}
    <li><a href="{{ site.url }}/tags/#{{ tag | first }}">{{ tag | first }}</a></li>
    {% endfor %}
</menu>
