/* Общие стили */
@import "post-style.less";
@import "syntax.less";

/* VAR */
@width: 1200px;

@alpha: #ECF0F1;
@beta: #000;
@gamma: #1D62F0;
@delta: #FC6341;
@epsilon: #E0F8D8;

// MIXIN
.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.border-radius(@r: 3px) {
  -webkit-border-radius: @r;
  -moz-border-radius: @r;
  border-radius: @r;
}

.transition(@property: all, @duration: 0.3s, @function: linear) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.box-shadow(@x: 0, @y: 0, @blur: 10px, @color: #666) {
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v6/zjBCKJs0bE-LvM0teIV5VHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v6/QABk9IxT-LFTJ_dQzv7xpEbeuvGrcRTTBH456c-a4yI.woff) format('woff');
}

// Общие стили
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'PT Serif', Arial, serif;
  font-size: 16px;
  color: @beta;
  background-color: @alpha;
}

a {
  color: @gamma;
  .transition(color, 0.3s, linear);
  &:hover {
    color: @delta;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

h5 {
  font-size: 14px;
  margin-top: 2em;
  margin-bottom: .5em;
}

ul {
  margin-top: 0;
}

p {
  margin: 1em 0;
}

input {
  width: 100%;
  padding: 6px;
  color: #34495e !important;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }

}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

sup {
  font-size: 10px;
  padding: 0 .5em;
  text-transform: lowercase;
}

pre {
  padding: 20px;
  margin: 0 0 1em 0;
  border-radius: 3px;
  background-color: #ECF0F1;
}

blockquote {
  font-size: 18px;
  border-left: 10px solid @epsilon;
  color: @beta;
  padding: 0 0 0 30px;
  margin: 10px 0 30px 0;
  .box-sizing;
}

table {
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    tr {
      border: 1px solid @alpha;
      border-bottom-width: 3px;
      text-align: left;
      th {
        border: 1px solid @alpha;
      }
      &>th {
        padding: 8px;
        vertical-align: bottom;

      }
      &>td {
        padding: 8px;
        vertical-align: top;
        border-top: 1px solid #DDD;
        border: 1px solid @alpha;
      }
    }
  }
}

.pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.null {
  margin: 0;
  padding: 0;
}

.navigation {
  border-top: 2px solid  @delta;
  padding: .3em;
  ul {
    overflow: hidden;
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      float: left;
      margin-right: 1em;
      a {
        text-decoration: none;
        &:hover {
          color: @delta;
        }
      }
    }
  }
}

.archive-list {
  .archive-post-date {
    color: darken(@alpha, 30%);
  }
}

.container {
  width: @width;
  margin: 2em auto 0 auto;
  overflow: hidden;
}

section {
  float: left;
}

article {
  width: @width  * 3 / 4;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  background-color: #FFF;
  .box-sizing;
  .border-radius(5px);
  .box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
  &>a {
    img {
      min-width: 100%;
      height: auto;
    }
  }
  .content {
    overflow: hidden;
    position: relative;
    padding: 40px 80px 20px 80px;
  }
  .article-tags {
    overflow: hidden;
    padding: 0;
    li {
      color: darken(@alpha, 30%);
      padding: 0;
      margin-right: .5em;
      list-style: none;
      float: left;
      a {
        font-size: .8em;
        text-decoration: none;
        &:hover {
          color: @delta;
        }
      }
    }
  }
  .date {
    position: absolute;
    left: 0;
    font-size: .7em;
    margin-top: 2em;
    padding: 10px 8px;
    color: @beta;
    background: @epsilon;
  }
  .why {
    padding: 1em;
    background-color: @epsilon;
  }
  ol {
    li {
      img {
        margin: 1em 0;
      }
    }
  }
}

aside {
  width: @width / 4 - 32;
  float: right;
  margin: 2em 0 0 2em;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 100px;
}

.cover {
  position: relative;
  background-color: @alpha;
  img {
    display: block;
    min-width: 100%;
  }
  form {
    width: 100%;
    position: absolute;
    padding: 0 80px;
    bottom: 1em;
    left: 0;
    .box-sizing;
    .search-title {
      font-size: 2em;
      color: #fff;
    }
    .searchSelect {
      color: #fff;
    }

  }
}

.note {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin: 1em 0;
}

.searchSelect {
  font-size: 12px;
  font-style: italic;
}

#searchEngine {
  font-family: 'PT Serif', Arial, serif;
  font-size: 12px;
  color: @alpha;
  border: 1px dotted @alpha;
  cursor: pointer;
  outline: none;
  border-width: 0 0 1px 0;
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
  option {
    color: @beta;
  }
}

/* Комментарии на странице записи*/

.comments {
  min-height: 300px;
  padding: 20px 80px;
}

.social-comments {
  color: @delta;
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid @delta;
  }
}

.system-comments {
  font-size: .9em;
  color: @beta;
  padding: 20px 80px;
  border-top: 2px solid @alpha;
}

#vkontakte {
  display: none;
}

/* Заголовок записи */

.post-title {
  margin: .6em 0 .3em 0;
  a {
    color: @beta;
    text-decoration: none;
    &:hover {
      border-bottom: 3px solid @beta;
    }
  }
}

/* Кнопки социальных сетей */

#social {
  width: 100%;
  margin: 20px 80px;
  .box-sizing;
  .facebook, .vk, .twitter, .pocket {
    line-height: 12px;
    display: inline-block;
    margin-right: 1em;
  }
  .facebook {
    width: 110px;
  }
  .twitter {
    width: 100px;
  }
  .pocket{
    width: 90px;
    height: 20px;
    overflow: hidden;
  }
}

/* Список похожих записей */
.more {
  background-color: @epsilon;
  ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    li {
      width: 25%;
      list-style: none;
      float: left;
      padding-right: 1em;
      .box-sizing;
      &:last-child {
        padding: 0;
      }
    }
  }
  .more-post-link {
    display: block;
  }
  .more-post-date {
    font-size: 12px;
  }
  padding: 20px 80px;
}

/* Теги на странице архива */
.tags {
  .item-list {
    li {
      list-style: none;
      display: inline;
      padding: 0 2px 2px 0;
      margin: 0 2px 2px 0;
    }
    a {
      color: @beta;
      text-decoration: none;
      &:hover {
        color: @delta;
        text-decoration: underline;
      }
    }
  }
}

.post-list {
  overflow: hidden;
  ul {
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      .date {
        font-size: 12px;
        margin-right: 1em;
        color: darken(@alpha, 30%);
      }
    }
  }
}

.archive-list {
  margin: 0;
  padding: 0;
  .archive-post-date {
    font-size: .8em;
    display: block;
  }
  .archive-post-year {
    margin-left: -3.4em;
    margin-bottom: -1.4em;
  }
  .archive-post-date {
    color: darken(@alpha, 30%);
  }
  li {
    list-style: none;
    margin-bottom: 1em;
  }
}

/* Список на странице архива */
.item-list {
  padding-left: 0;
  li {
    list-style-type: lower-greek;
    margin-left: 1em;
  }
}

/* Пагинация */
.pagination {
  width: @width * 3 / 4;
  text-align: center;
  margin-bottom: 3em;
  .circle {
    font-style: normal;
    display: inline-block;
    width: 8px;
    height: 8px;
    .border-radius(50px);
    background: darken(@alpha, 30%);
    border: 2px solid @alpha;
    &.current, &:hover {
      border: 2px solid #fff;
    }
  }
  a, .circle.current {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 0 3%;
    &:hover {
      color: @delta;
    }
  }
  .previous, .next {
    color: darken(@alpha, 30%);
  }
  .previous {
    float: left;
    margin-left: 1em;
  }
  .next {
    float: right;
    margin-right: 1em;
  }
}
footer{
  width: @width;
  margin: 0 auto;
}
.copy {
  width: @width * 3 / 4;
  font-size: 11px;
  margin-bottom: 1em;
  a {
    border: 0;
    margin: 0;
    padding: 0;
  }
}
.counter{
  opacity: .2;
}
/* Sidebar menu */
.list-links {
  .null;
  li {
    list-style: none;
    margin-bottom: .2em;
    a {
      color: darken(@alpha, 30%);
      font-size: .8em;
      text-decoration: none;
      &:hover {
        color: @delta;
      }
    }
  }
}

/* 404 */

.error404 {
  width: @width / 4;
  margin: 6em auto 0 auto;
  text-align: center;
  p {
    font-size: .8em;
  }
}

.error-title {
  font-size: 12em;
  margin: 0;
}
