/* Общие стили */
@import url('http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic');
@import "color.less";
@import "post-style.less";
@import "syntax.less";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'PT Serif', Arial, serif;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

h5 {
  font-size: 14px;
  margin-top: 2em;
  margin-bottom: .5em;
}

ul {
  margin-top: 0;
}

p {
  margin: 1em 0;
}

input {
  width: 100%;
  padding: 6px;
  color: #34495e !important;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }

}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

sup {
  font-size: 10px;
  padding: 0 .5em;
  text-transform: lowercase;
}

pre {
  padding: 20px;
  margin: 0 0 1em 0;
  border-radius: 3px;
  background-color: #ECF0F1;
}

blockquote {
  padding: 0 0 0 30px;
  margin: 10px 0 30px 0;
  font-size: 18px;
  box-sizing: border-box;
}

table {
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    tr {
      text-align: left;
      &>th {
        padding: 8px;
        vertical-align: bottom;

      }
      &>td {
        padding: 8px;
        vertical-align: top;
        border-top: 1px solid #DDD;
      }
    }
  }
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.null {
  margin: 0;
  padding: 0;
}

.navigation {
  padding: .3em;
  ul {
    overflow: hidden;
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      float: left;
      margin-right: 1em;
      a {
        text-decoration: none;
      }
    }
  }
}

article {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  box-sizing: border-box;
  background-color: #FFF;
  &>a {
    img {
      min-width: 100%;
      height: auto;
    }
  }
  .content {
    overflow: hidden;
    position: relative;
    padding: 40px 80px 20px 80px;
  }
  .article-tags {
    overflow: hidden;
    padding: 0;
    li {
      padding: 0;
      margin-right: .5em;
      list-style: none;
      float: left;
      a {
        font-size: .8em;
        text-decoration: none;
      }
    }
  }
  .date {
    position: absolute;
    left: 0;
    font-size: .7em;
    margin-top: 2em;
    padding: 10px 8px;
  }
  .why {
    padding: 1em;
  }
  ol {
    li {
      img {
        margin: 1em 0;
      }
    }
  }
}

aside {
  width: 320px;
  height: 100%;
  float: left;
  position: fixed;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 100px;
}

.article-content {
  width: 900px;
  margin-left: 320px;
  float: left;
}

.cover {
  position: relative;
  img {
    display: block;
    min-width: 100%;
  }
  form {
    width: 100%;
    position: absolute;
    padding: 0 80px;
    bottom: 6em;
    left: 0;
    .box-sizing;
    .search-title {
      font-size: 2em;
    }
  }
  #social {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: transparent;
  }
}

.note {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 1em;
}

.searchSelect {
  font-size: 12px;
  font-style: italic;
}

#searchEngine {
  font-family: 'PT Serif', Arial, serif;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  border-width: 0 0 1px 0;
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
}

/* Комментарии на странице записи*/

.comments {
  min-height: 300px;
  padding: 20px 80px;
}

/* Заголовок записи */

.post-title {
  margin: .6em 0 .3em 0;
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      border-bottom: 3px solid #000;
    }
  }
}

/* Кнопки социальных сетей */

#social {
  padding: 20px 80px;
  .social-btn {
    display: inline-block;
    margin-right: 1em;
  }
}

/* Список похожих записей */
.more {
  .more-title {

  }
  ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    li {
      width: 25%;
      list-style: none;
      float: left;
      padding-right: 1em;
      .box-sizing;
      &:last-child {
        padding: 0;
      }
    }
  }
  .more-post-link {
    display: block;
  }
  .more-post-date {
    font-size: 12px;
  }
  padding: 20px 80px;
}

/* Теги на странице архива */
.tags {
  .item-list {
    li {
      list-style: none;
      display: inline;
      padding: 0 2px 2px 0;
      margin: 0 2px 2px 0;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Список тегов на главной */
.tags-list {
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      float: left;
      a {
        display: block;
        font-size: 12px;
        padding: 10px 8px;
        margin: 2px;
        text-decoration: none;
      }
    }
  }

}

.post-list {
  overflow: hidden;
  ul {
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      .date {
        font-size: 12px;
        margin-right: 1em;
      }
    }
  }
}

.archive-list {
  margin: 0;
  padding: 0;
  .archive-post-date {
    font-size: .8em;
    display: block;
  }
  .archive-post-year {
    margin-left: -3.4em;
    margin-bottom: -1.4em;
  }
  li {
    list-style: none;
    margin-bottom: 1em;
  }
}

.widget {
  padding: 0 2em;
  &.top {
    margin-top: 2em;
  }
  &.bottom {
    margin-bottom: 2em;
  }
}

/* Список на странице архива */

.item-list {
  padding-left: 0;
  li {
    list-style-type: lower-greek;
    margin-left: 1em;
  }
}

.copy {
  position: absolute;
  bottom: 0;
  left: 2em;
  font-size: 11px;
  margin-top: 2em;
  margin-bottom: 1em;
  a {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

/* Sidebar menu */
.sidebar-menu{
  .null;
  li{
    list-style: none;
    margin-bottom: .2em;
    a{
      font-size: .8em;
      text-decoration: none;
    }
  }
}

/* 404 */

.error404{
  width: 320px;
  margin: 6em auto 0 auto;
  text-align: center;
  p{
    font-size: .8em;
  }
}
.error-title{
  font-size: 12em;
  margin: 0;
}
