@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);
html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'PT Serif', Arial, serif;
  font-size: 100%;
}
img {
  max-width: 100%;
}
.overflow {
  overflow: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
form input,
form select {
  font-family: 'PT Serif', Arial, serif;
  font-size: .6em;
  font-weight: bold;
  padding: .5em;
  border-radius: 6px;
  -webkit-appearance: none;
}
form input[type=submit] {
  font-family: 'PT Serif', Arial, serif;
  font-size: .6em;
  width: 140px;
  height: 60px;
  margin-left: 1em;
  border: 0;
  cursor: pointer;
}
header nav {
  padding: .2em 0;
}
.header-menu {
  line-height: 3em;
}
.header-menu li {
  list-style-type: none;
  float: left;
}
.logo {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 3em;
}
.button {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  height: 20px;
  padding: 8px 15px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.button.in {
  margin-right: 1em;
}
.button.in:hover {
  border-color: #ffffff;
}
.map {
  position: relative;
  height: 300px;
}
.map .container {
  margin-top: 2.5em;
}
.map #google {
  position: absolute;
  width: 100%;
}
.map .form-search {
  font-size: 2.4em;
  font-weight: bold;
  padding: 2em;
  margin: 2px 0;
}
.content {
  padding: 2em;
}
.content .item {
  cursor: pointer;
  margin: .5em;
  -o-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.content .item .title {
  text-align: center;
  font-size: 1em;
}
.content .item .title a {
  text-decoration: none;
}
.content .item .title.top {
  margin-top: -2em;
}
.content .item .title.top a {
  color: #fff;
}
.content .item:hover {
  opacity: 0.8;
}
.booking {
  padding: 2em 0;
}
.booking .list-booking {
  padding: 1em 2em;
}
.booking .list-booking .title {
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: .3em;
}
.booking .list-booking ul li {
  padding: 1em 0;
  list-style-type: none;
}
.booking .list-booking ul li a {
  padding-bottom: 4px;
  -o-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.booking .list-booking ul li .price {
  font-style: normal;
  font-size: 12px;
  float: right;
}
.bnr {
  text-align: center;
}
footer {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 1em;
  padding: 1em;
}
