{% include header.html %}

<div class="wrapper">
    <section>
        {% include search.html %}

        {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
        {% capture num_words %}
        {{ site_tags | split:',' | size }}
        {% endcapture %}
        {% assign tag_words = site_tags | split:',' | sort %}

        <div class="tags">
            <h3 class="title post-title">Тэги</h3>
            <ul class="item-list">
                {% for item in (0..num_words) %}{% unless forloop.last %}
                {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
                <li><a href="#{{ this_word | cgi_escape }}">{{ this_word }}</a><sup>{{ site.tags[this_word].size }}</sup></li>
                {% endunless %}{% endfor %}
            </ul>

            {% for item in (0..num_words) %}{% unless forloop.last %}
            {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
            <h3 id="{{ this_word | cgi_escape }}" class="title post-title" >{{ this_word }}</h3>
            <ul class="post-list">
                {% for post in site.tags[this_word] %}{% if post.title != null %}
                <li itemscope><time class="date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date:"%d.%m.%Y" }}</time><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}{% endfor %}
            </ul>
            {% endunless %}{% endfor %}
        </div>

    </section>
</div>

{% include footer.html %}
