{% include header.html %}<div class="container">
<ul class="post-main">{% for post in site.posts limit: 10 %}
    <li class="post-main-item">
        <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" | replace: 'January', 'январь' | replace: 'February', 'февраль' | replace: 'March', 'март' | replace: 'April', 'апрель' | replace: 'May', 'май' | replace: 'June', 'июнь' | replace: 'July', 'июль' | replace: 'August', 'август' | replace: 'September', 'сентябрь' | replace: 'October', 'октябрь' | replace: 'November', 'ноябрь' | replace: 'December', 'декабрь' }}</time>
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </li>
{% endfor %}
<li class="post-main-more"><h2><a href="{{ site.url }}/archive">Eщё</a></h2></li></ul>
</div>
{% include footer.html %}
