{% include header.html %}

<aside>
    {% include sidebar.html %}
</aside>
<section class="article-content">
    <article>
        {% include cover.html %}
        <div class="content">
            <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
            {% if page.why %}
            <div class="why">
                Задача. {{ page.why }}
            </div>
            {% endif%}
            {{ content }}
        </div>
        {% include share.html %}
        {% if page.comment %}{% include comments.html %}{% endif %}
    </article>
</section>

{% include footer.html %}
