---
layout: default
---
<div class="container">
    <article class="content">
        <div>
            {% include page-special.html %}
        </div>
        {{ content }}
        {% include share.html %}
    </article>
</div>

<aside class="more">
    <div class="container">
        <ul class="post-main">{% for post in site.related_posts limit: 1 %}
            <li class="post-main-item">
                {% include post-special-more.html %}
            </li>{% endfor %}
            <li class="post-main-more"><a class="btn large blue" href="{{ site.url }}/archive">Eщё</a></li>
        </ul>
    </div>
</aside>