{% include header.html %}

<aside>
    {% include sidebar.html %}
</aside>
<section class="article-content">
    <article>
        {% include cover.html %}
        <div class="content">
            <time class="date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date:"%d.%m.%Y" }}</time>
            <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
            <ul class="article-tags">
                {% for tag in page.tags %}
                <li><a href="{{ site.url }}/archive/#{{ tag }}">#{{ tag }}</a></li>
                {% endfor %}
            </ul>
            {% if page.why %}
            <div class="why">
                Задача. {{ page.why }}
            </div>
            {% endif%}
            {{ content }}
        </div>
        {% include share.html %}
        <div class="more">
            <h3 class="more-title">Почитать ещё</h3>
            <ul>
                {% for post in site.related_posts limit:4 %}
                <li>
                    <a class="more-post-link" href="{{ post.url }}">{{ post.title }}</a>
                    <time class="more-post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date:"%d.%m.%Y" }}</time>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% include comments.html %}
    </article>
</section>

{% include footer.html %}
