{% include header.html %}

<div class="wrapper">
    <article>
        {% include cover.html %}
        <div class="content">
            <time class="date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date:"%d/%m/%Y" }}</time>
            <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
            {% if page.why %}
            <div class="why">
                Задача. {{ page.why }}
            </div>
            {% endif%}
            {{ content }}
        </div>
        {% include share.html %}
        {% include comments.html %}
    </article>
</div>

{% include footer.html %}
